.highscore {
  text-align: center;
  font-size: 18px;
}
.current {
  text-align: center;
  font-size: 18px;
}

.enemy {
 transform: rotate(0deg);
 animation-name:rotate;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 transform-origin: 50% 50%;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


